*{margin: 0px; padding: 0px}
* a{
	display: block;
	color: #A9A9A9;
	font-size: 30pt;
	text-decoration: none;
	z-index: 3;
	float:left;
}

body{
	background-color:#F0F0F0;
	font-family: "Courier New", Courier, monospace;
}
#blocWrapper{
	width:90vw;
	margin:auto;
	padding: 1vh 1vw;
	height: 90vh;
}
.focus{
	color: black !important;
	display: block !important;
	width: 80% !important;
	height: 100% !important;
}
.bloc{
	display:none;
	color: #ededed;
	width: 8%;
	height: 100%;
	margin-left: 1%;
	font-size: 14pt;
	float: left;
	border: none;
	box-shadow: 0px 0px 20px #A9A9A9;
    resize: none;
	overflow:hidden;
	
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
.bloc:focus{
    outline: none !important;
	border: none !important;
}