*{margin: 0px; padding: 0px}
#blocWrapper{
	width:70%;
	margin:4vh auto;
	height: 90vh;
	overflow:hidden;
}
.focus{
	width: 100vh !important;
}
.bloc{
	width: 5vh;
	margin: 5vh;
	height: 100%;
	font-family: "Courier New", Courier, monospace;
	font-size: 20pt;
	float: left
}